<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<h1>예시</h1>
<span th:text="${data}">html data</span>

<h1>1. 표준 HTML 주석</h1>
<!--이것을 렌더링 하지 않고 그대로 남긴다-->
<!--
<span th:text="${data}">html data</span>
-->

<h1>2. 타임리프 파서 주석</h1>
<!--렌더링 할 때 다 사라진다. 파서가 주석으로 인지 밑에는 여러 줄 표시-->
<!--/* [[${data}]] */-->

<!--/*-->
<span th:text="${data}">html data</span>
<!--*/-->

<h1>3. 타임리프 프로토타입 주석</h1>
<!--그냥 파일을 열 때는 주석 처리고 타임리프로 렌더링 할 경우에는 보인다 잘 사용은 하지 않는다-->
<!--/*/
<span th:text="${data}">html data</span>
/*/-->

</body>
</html>